/////avatar text
.avatar-text{
  @include flexbox();
  @include flex-direction(row);
  .img, .text{
    @include flexbox();
    @include flex-direction(column);
  }
  .img{
    .avatar{
      overflow: hidden;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.25rem;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid $avatar-border-color;
      margin-right: 1rem;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .text{
    @include flex(1);
    .content-area{
      display: block;
      width: 100%;
    }
  }
  &.avatar-radius{
    .img{
      .avatar{
        border-radius: 50%;
      }
    }
  }
}
