/// borders
.border{
  border-style: solid;
  border-width: 1px;
}
.border-t{
  border-top-style: solid;
  border-top-width: 1px;
}
.border-l{
  border-left-style: solid;
  border-left-width: 1px;
}
.border-r{
  border-right-style: solid;
  border-right-width: 1px;
}
.border-b{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-w-2{
  border-width: 2px;
}
.border-t-w-2{
  border-top-width: 2px;
}
.border-l-w-2{
  border-left-width: 2px;
}
.border-r-w-2{
  border-right-width: 2px;
}
.border-b-w-2{
  border-bottom-width: 2px;
}
.border-w-3{
  border-width: 2px;
}
.border-t-w-3{
  border-top-width: 2px;
}
.border-l-w-3{
  border-left-width: 2px;
}
.border-r-w-3{
  border-right-width: 2px;
}
.border-b-w-3{
  border-bottom-width: 2px;
}
.border-w-4{
  border-width: 2px;
}
.border-t-w-4{
  border-top-width: 2px;
}
.border-l-w-4{
  border-left-width: 2px;
}
.border-r-w-4{
  border-right-width: 2px;
}
.border-b-w-4{
  border-bottom-width: 2px;
}