//breadcrumbs
.breadcrumbs{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    padding: 0 1rem 0 0;
    position: relative;
    font-size: $font-small-large;
    color: $breadcrumbs-link-color;
    @media #{$medium-half-down} {
      font-size: $font-small;
    }
    :after{
      content: '>';
      position: absolute;
      right: -.8rem;
      top:0;
      color: $breadcrumbs-separator-color;
    }
    a{
      color: $breadcrumbs-link-color;
    }
  }
}