.btn-group{
  display: inline-block;
  .btn{
    border-radius: 0;
    float: left;
    border-right-width: 0!important;
    &:first-child{
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:last-child{
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
    @media #{$medium-and-up} {
      &:hover {
        @include scale(1);
        opacity: .8;
      }
    }
    &.small-btn{
      border-radius: 0;
      &:first-child{
        border-top-left-radius: .9rem;
        border-bottom-left-radius: .9rem;
      }
      &:last-child{
        border-top-right-radius: .9rem;
        border-bottom-right-radius: .9rem;
      }
    }

    &.medium-btn{
      border-radius: 0;
      &:first-child{
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
      }
      &:last-child{
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
      }
    }
  }
  .btn-border{
    &:last-child{
      border-right-width: 1px!important;
    }
  }
}
.btn{
  padding: 0 2rem;
  line-height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  letter-spacing: $btn-letter-spacing;
  @include transition(all .2s);
  @media #{$medium-and-up} {
    &:hover{
      @include scale(1.08)
    }
    &:active, &:focus{
      @include scale(1);
      opacity: .8;
    }
  }
  &.small-btn{
    padding: 0 1rem;
    border-radius: .9rem;
    font-size: $font-small;
    line-height: 1.8rem;
  }
  &.medium-btn{
    padding: 0 1.5rem;
    border-radius: 1.25rem;
    font-size: $font-small;
    line-height: 2.5rem;
  }
  &.disable-btn, &:disabled{
    cursor: default;
    overflow: hidden;
    pointer-events: none;
    opacity: .7;
    &:after{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $white-color;
      opacity:.3;
    }
    @media #{$medium-and-up} {
      &:hover{
        @include scale(1)
      }
      &:active, &:focus{
        @include scale(1);
        opacity: 1;
      }
    }
  }
  &.justify-btn{
    text-align: center;
    width: 100%;
  }
  &.btn-border{
    background: none transparent;
    border-width: 1px;
    border-style: solid;
  }
  &.btn-icon-left{
    padding-left: 4rem!important;
    .icon-area{
      position: absolute;
      left: 1.5rem;
      top:50%;
      margin-top: -1rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 2.2rem;
      i{
        margin-right: auto!important;
      }
      .i-css-2x{
        position: relative;
        margin-bottom: -.3em;
      }
    }
    &.small-btn{
      padding-left: 2.5rem!important;
      .icon-area{
        left: .5rem;
      }
    }
    &.medium-btn{
      padding-left: 3rem!important;
      .icon-area{
        left: .8rem;
      }
    }
  }
  &.btn-icon-right{
    padding-right: 4rem!important;
    .icon-area{
      position: absolute;
      right: 1.5rem;
      top:50%;
      margin-top: -1rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 2.2rem;
      i{
        margin-right: auto!important;
      }
      .i-css-2x{
        position: relative;
        margin-bottom: -.3em;
      }
    }
    &.small-btn{
      padding-right: 2.5rem!important;
      .icon-area{
        right: .5rem;
      }
    }
    &.medium-btn{
      padding-right: 3rem!important;
      .icon-area{
        right: .8rem;
      }
    }
  }
}
a{
  color: $color-primary;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  &.link{
    font-family: $secondary-font;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      width: 100%;
      background: $color-primary;
      opacity: .5;
      @include transition(all .2s);
      margin: auto;
    }
    @media #{$medium-and-up} {
      &:hover{
        &:after{
          height: 1px;
          left: 0;
          right: 0;
          margin: auto;
          opacity: .25;
        }
      }
    }
  }
}