//// Chips
.clip-list{
  a{
    display: inline-block;
    position: relative;
    font-size: $font-small-large;
    background: $white-color;
    border: 1px solid $chips-border-color;
    padding: 0 .5rem;
    line-height: 1.75rem;
    float: left;
    margin-right: .25rem;
    margin-bottom: .25rem;
    color: $chips-link-color;
    &:hover{
      color: $chips-hover-color;
    }
    &.active{
      background: $chips-background-color;
      &:hover{
        background: $chips-background-active-color;
        color: $white-color;
      }
    }
    &.icon-chip{
      i{
        float: right;
        margin-left: .5rem;
        font-size: .8rem;
      }
    }
    @media #{$medium-half-down} {
      font-size: $font-small;
    }
  }
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}