$primary: (
        "lighten-2":  #FF726D,
        "lighten-1":  #FF4141,
        "base":       #E63327,
        "darken-1":   #CA002D
);

$secondary: (
        "lighten-8":   #FAFAFC,
        "lighten-7":   #f3f3f7,
        "lighten-6":   #e6e6ed,
        "lighten-5":   #b3b3bb,
        "lighten-4":   #93939c,
        "lighten-3":   #72727c,
        "lighten-2":   #53535a,
        "lighten-1":   #333337,
        "base":        #202020
);

$warning: (
        "lighten-2":  #f8a577,
        "lighten-1":  #f5874a,
        "base":       #F3691D,
        "darken-1":   #c25417,
        "darken-2":   #923f11
);

$danger: (
        "lighten-2":  #fe9478,
        "lighten-1":  #fd714b,
        "base":       #FD4D1E,
        "darken-1":   #ca3e18,
        "darken-2":   #982e12
);

$info: (
        "lighten-4":  #D2FDFB,
        "lighten-3":  #A5FAF7,
        "lighten-2":  #66cac7,
        "lighten-1":  #33b8b5,
        "base":       #00A6A2,
        "darken-1":   #008582,
        "darken-2":   #006461
);

$success: (
        "lighten-2":  #66d0af,
        "lighten-1":  #33c095,
        "base":       #00B07A,
        "darken-1":   #008d62,
        "darken-2":   #006a49
);

$classifieds: (
        "base":       #EF2436
);
$financed: (
        "base":       #7859AB
);
$insurance: (
        "base":       #017DE5
);
$warranty: (
        "base":       #73B861
);
$carsync: (
        "base":       #F6A700
);

$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "warning": $warning,
        "danger": $danger,
        "info": $info,
        "success": $success,
        "classifieds": $classifieds,
        "financed": $financed,
        "insurance": $insurance,
        "warranty": $warranty,
        "carsync": $carsync,
);

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)
@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
