$i-css-defaul-width-item:  $i-css-defaul-width*10;
$i-css-defaul-width-item-2x:  $i-css-defaul-width*15;
$i-css-defaul-width-item-3x:  $i-css-defaul-width*20;
$i-css-defaul-width-item-4x:  $i-css-defaul-width*25;
$i-css-defaul-width-item-5x:  $i-css-defaul-width*30;
.i-css{
  font-size: $i-css-defaul-width-item;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  @each $class_name, $color_ex in $i-css-color-list {
    &.i-css-#{$class_name}{
      &:after, &:before{
        border-color: $color_ex;
        background: $color_ex;
      }
    }
  }
  &.i-css-2x{
    font-size: $i-css-defaul-width-item-2x;
  }
  &.i-css-3x{
    font-size: $i-css-defaul-width-item-3x;
  }
  &.i-css-4x{
    font-size: $i-css-defaul-width-item-4x;
  }
  &.i-css-5x{
    font-size: $i-css-defaul-width-item-5x;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    border-color: $i-css-defaul-color;
    background: $i-css-defaul-color;
    box-sizing: border-box;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    border-color: $i-css-defaul-color;
    background: $i-css-defaul-color;
    box-sizing: border-box;
  }
  &.i-arrow-l{
    &:after{
      width: .8em;
      height: .1em;
      @include rotate((45deg));
      top: .7em;
      left:.1em;
    }
    &:before{
      width: .8em;
      height: .1em;
      @include rotate((-45deg));
      top: .2em;
      left:.1em;
    }
    &.i-css-2x{
      &:after{
        top: .75em;
      }
    }
  }
  &.i-arrow-r{
    &:after{
      width: .8em;
      height: .1em;
      @include rotate((-45deg));
      top: .7em;
      right: .1em;
      left: auto;
    }
    &:before{
      width: .8em;
      height: .1em;
      @include rotate((45deg));
      top: .2em;
      right: .1em;
      left: auto;
    }
    &.i-css-2x{
      &:after{
        top: .75em;
      }
    }
  }
  &.i-arrow-b{
    &:after{
      width: .8em;
      height: .1em;
      @include rotate((-45deg));
      left: auto;
      right: -.2em;
      top: .4em;
    }
    &:before{
      width: .8em;
      height: .1em;
      @include rotate((45deg));
      left: -.1em;
      top: 0.4em;
    }
  }
  &.i-arrow-t{
    &:after{
      width: .8em;
      height: .1em;
      @include rotate((45deg));
      left: auto;
      right: -.2em;
      top: .4em;
    }
    &:before{
      width: .8em;
      height: .1em;
      @include rotate((-45deg));
      left: -.1em;
      top: 0.4em;
    }
  }
  &.i-search{
    &:after{
      width: 100%;
      height: 100%;
      border-width: .1em;
      border-style: solid;
      border-radius: 50%;
      top: -.10em;
      left: -.10em;
      background: transparent;
    }
    &:before{
      width: .1em;
      height: .5em;
      @include rotate((-52deg));
      top: 0.6em;
      left: .9em;
    }
    &.i-css-2x{
      &:before{
        width: .15em;
      }
    }
  }
  &.i-close{
    &:after{
      width: 1em;
      height: .1em;
      @include rotate((45deg));
      top: .4em;
    }
    &:before{
      width: 1em;
      height: .1em;
      @include rotate((-45deg));
      top: .4em;
    }
  }
  &.i-plus{
    &:after{
      width: .9em;
      height: .1em;
      left: 0;
      top: .4em;
    }
    &:before{
      width: .1em;
      height: .9em;
      left: .4em;
      top: 0;
    }
  }
  &.i-time{
    &:after{
      width: 1.2em;
      height: 1.2em;
      border-style: solid;
      border-width: .1em;
      border-radius: 50%;
      top: -.1em;
      left: -.1em;
      background: transparent;
    }
    &:before{
      width: .1em;
      height: .4em;
      @include rotate((50deg));
      left: .6em;
      top: .2em;
    }
  }
  &.i-user{
    width: 1.2em;
    height: 1.2em;
    border-style: solid;
    border-width: .1em;
    border-radius: 50%;
    overflow: hidden;
    top: -.1em;
    left: -.1em;
    border-color: $i-css-defaul-color;
    @each $class_name, $color_ex in $i-css-color-list {
      &.i-css-#{$class_name}{
        border-color: $color_ex;
      }
    }
    &:after{
      width: 1.4em;
      height: 1.4em;
      border-radius: 50%;
      top: .7em;
      left: -.1em;
    }
    &:before{
      width: .6em;
      height: .6em;
      border-radius: 50%;
      left: .3em;
      top:.1em
    }
  }
}