.hide-on-extra-small-and-down {
  @media #{$extra-small-half-down} {
    display: none !important;
  }
}
.hide-on-extra-small-half-and-down {
  @media #{$small-down} {
    display: none !important;
  }
}
.hide-on-small-and-down {
  @media #{$small-half-down} {
    display: none !important;
  }
}
.hide-on-small-half-and-down {
  @media #{$medium-down} {
    display: none !important;
  }
}
.hide-on-medium-and-down {
  @media #{$medium-half-down} {
    display: none !important;
  }
}
.hide-on-medium-half-and-down {
  @media #{$large-down} {
    display: none !important;
  }
}
.hide-on-large-and-down {
  @media #{$large-half-down} {
    display: none !important;
  }
}
.hide-on-large-half-and-down {
  @media #{$extra-large-down} {
    display: none !important;
  }
}
.hide-on-extra-large-and-down {
  @media #{$extra-large-half-down} {
    display: none !important;
  }
}
.hide-on-extra-large-half-and-down {
  @media #{$big-down} {
    display: none !important;
  }
}
.hide{
  display: none;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex-column{
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
}
.flex-row{
  @include flexbox();
  @include flex-direction(row);
}
.flex-middle{
  @include align(center);
}
.flex-center{
  @include justify-content(center);
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  clear: both;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: $divider-color;
}
.width-100{
  width: 100%;
}

.list-flat, .list-inline{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline{
  li{
    float: left;
  }
}
.content-transition{
  @include transition(all .5s)
}