@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-font-path}Raleway-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-font-path}Raleway-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-font-path}Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-font-path}Raleway-ExtraBold.ttf');
  font-weight: 800;
}