html{
  line-height: 150%;
  font-family: $primary-font; // 1
  font-weight: 500;
  font-size: $base-rem-size;

  @media #{$medium-half-down}{
    font-size: $base-rem-medium-size;
  }

  @media #{$small-half-down}{
    font-size: $base-rem-small-size;
  }

}
h1, h2, h3, h4, h5, h6, .size-h1, .size-h2, .size-h3, .size-h4, .size-h5, .size-h6 {
  line-height: 110%;
  font-family: $secondary-font;
  font-weight: 700;
  margin: .5em 0;
}
a {
  text-decoration: none;
}

// Header Styles
h1, .size-h1{ font-size: $h1-fontsize;}
h2, .size-h2{ font-size: $h2-fontsize;}
h3, .size-h3{ font-size: $h3-fontsize;}
h4, .size-h4{ font-size: $h4-fontsize;}
h5, .size-h5{ font-size: $h5-fontsize;}
h6, .size-h6{ font-size: $h6-fontsize;}

@media #{$medium-half-down}{
  h1, .size-h1, .size-1 { font-size: $h1-md-fontsize;}
  h2, .size-h2, .size-2 { font-size: $h2-md-fontsize;}
  h3, .size-h3, .size-3 { font-size: $h3-md-fontsize;}
  h4, .size-h4, .size-4 { font-size: $h4-md-fontsize;}
  h5, .size-h5, .size-5 { font-size: $h5-md-fontsize;}
  h6, .size-h6, .size-6 { font-size: $h6-md-fontsize;}
}
.secondary-font{
  font-family: $secondary-font;
}

.primary-font{
  font-family: $primary-font;
}
// Text Styles
em, .italic {
  font-style: italic;
  font-family: $secondary-font;
}

strong, .strong { font-weight: 700; }
.extra-strong { font-weight: 800; }
.light { font-weight: 300; }
.regular { font-weight: 500; }
.medium { font-weight: 600; }

small, .small {
  font-size: $font-small-large;
  @media #{$medium-half-down} {
    font-size: $font-small;
  }
}

.size-default {
  font-size: $base-rem-size;
  @media #{$medium-half-down}{
    font-size: $base-rem-medium-size;
  }
  @media #{$small-half-down}{
    font-size: $base-rem-small-size;
  }
}

.text-lowercase{
  text-transform: lowercase;
}
.text-capitalize{
  text-transform: capitalize;
}
.text-uppercase{
  text-transform: uppercase !important;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center-align {
  text-align: center;
}

.line-height-small{
  line-height: 100%;
}
.line-height-regular{
  line-height: 150%;
}
.line-height-large{
  line-height: 200% ;
}

.letter-spacing-1x{
  letter-spacing: .1em;
}

.letter-spacing-2x{
  letter-spacing: .2em;
}