/*-----------------------
INPUTS - TEXT AREA
------------------------*/

.custom-input{
  width: 100%;
}
//inputs class

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea {

  background-color: transparent;

  /*for border all*/
  //border-width: $input-border-width;
  //padding: 0 ($form-items-height/3)+rem;

  /*for border bottom*/
  border-width: 0 0 $input-border-width 0;
  padding: 0;


  border-style: solid;
  border-color: $input-border;
  outline: none;
  min-height: $form-items-height+rem;
  width: 100%;
  font-size: $form-text-size;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;

  // Disabled
  &:disabled, &[readonly="readonly"] {
    color: $input-disable-text;
    border-style: dotted;
    border-color: $input-disable-border;
  }
  // Focus
  &:focus:not([readonly]) {
    border-bottom: $input-border-width solid $input-focus-border;
  }
  // Focus label
  &:focus:not([readonly])+label {
    color: $input-focus-label;
  }
  // Valid Input
  &.valid,
  &:focus.valid {
    border-bottom: $input-border-width solid $input-focus-valid-border;
  }

  // Invalid Input
  &.invalid,
  &:focus.invalid {
    border-bottom: $input-border-width solid $input-focus-invalid-border;
  }

  &+label{
    color: $input-focus-invalid-label;
  }

  &.input-small{
    font-size: $font-small;
    line-height: $form-items-small-height+rem;
    min-height: $form-items-small-height+rem;
    &+label{
      font-size: $font-small;
    }
  }

  &.input-shadow{
    border-radius: 4px;
    background: $input-shadow-style-background;
    padding: 0 ($form-items-height/3)+rem;
    @include box-shadow-2(0px 0px 14px 2px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.05));
    border: $input-border-width solid $input-shadow-style-border;
    @include transition(.5s all);
    &:focus{
      border: $input-border-width solid $input-shadow-style-focus-border;
      @include box-shadow-2(0px 0px 8px 1px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.05));
      transform: scale(1.005, 1.05);
    }
  }
}
textarea{
  padding-top: 15px;
  padding-bottom: 15px;
}
.input-label{
  position: relative;
  padding-top: $form-items-height+rem;
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea, select {
    &+label{
      position: absolute;
      top: 1rem;
      left: 0;
      color: $form-text-label-color;
      text-transform: $form-text-label-transform;
      font-size: $form-text-label-size;
      letter-spacing: $form-label-letter-spacing;
    }
  }
}
.input-inline-icon i{
  width: (($form-items-height/3)*2)+rem;
}
.input-inline-label, .input-inline-icon{
  @include flexbox();
  @include flex-direction(row);
  @include align(center);
  label, i{
    @include flexbox();
    @include flex-direction(column);
    @include order(1);
    white-space: nowrap;
  }
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea, select {
    @include flexbox();
    @include flex-direction(column);
    @include order(2);
    @include flex(1);
    margin-bottom: 0;
  }
  select {
    @include flex-direction(row!important);
  }
}
.input-over-icon{
  display: block;
  position: relative;
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea, select {
    padding-left: 3.5rem;
    &.input-small{
      padding-left: 2.3rem;
      +i{
        font-size: $font-small;
        left: .8rem;
        top:.2rem;
      }
    }
  }
  select {
    @include flex-direction(row!important);
  }
  i{
    position: absolute;
    left: 1.3rem;
    top:.7rem;
  }
}