/*-----------------------
RADIO
------------------------*/

// Checked
[type="radio"]{
  // Remove default Radio
  &:not(:checked),
  &:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    + label{
      position: relative;
      padding-left: 2rem;
      cursor: pointer;
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      transition: .28s ease;
      color: $radio-label;
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      user-select: none;
    }
  }
  &:checked + label:before {
    border: 2px solid transparent;
  }
  &:checked + label:after {
    border: 2px solid $radio-active-background;
    background-color: $radio-active-background;
    z-index: 0;
    transform: scale(1.02);
  }
  // RADIO LABELS
  + label:before, + label:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border-radius: 50%;
    transition: .28s ease;
  }
  // Unchecked
  &:not(:checked) + label:before {
    border: 2px solid $radio-no-check-border-color;
  }
  &:not(:checked) + label:after {
    border: 2px solid $radio-no-check-border-color;
    z-index: -1;
    transform: scale(0);
  }
  // Disabled
  &:disabled:not(:checked) + label:before, &:disabled:checked + label:before {
    background-color: transparent;
    border-color: $radio-disable-border;
  }
  &:disabled + label {
    color: $radio-disable-label-color;
  }
  &:disabled:checked + label:after {
    background-color: $disable-checked-background;
    border-color: $disable-checked-background;
  }
}