/*-----------------------
CHECKBOX
------------------------*/

/// Remove default
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

// General Checkbox
[type="checkbox"] {

  // Text Label Style
  + label {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    &:before {
      content: '';
      position: absolute;
      top: .25rem;
      left: .3rem;
      width: 1rem;
      height: 1rem;
      z-index: 0;
      border: 2px solid $check-box-border;
      border-radius: 1px;
      margin-top: 2px;
      transition: .2s;
      background: transparent;
    }

    &:after{
      background: $check-box-active-background;
      content: '';
      position: absolute;
      top: .25rem;
      left: .3rem;
      width: 1rem;
      height: 1rem;
      margin-top: 2px;
      z-index: 0;
      transform: scale(0);
      transition: .28s ease;
    }

  }

  &:not(:checked):disabled + label:before {
    border: 2px solid transparent;
    background-color: $check-box-disable-background ;
  }

  //checked
  &:checked {
    + label:before {
      top: -4px;
      left: -2.5px;
      width: .5rem;
      height: 1.5rem;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $check-icon-color;
      border-bottom: 2px solid $check-icon-color;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
      z-index:1;
    }
    + label:after {
      transform: scale(1);
    }
    &:disabled + label:before {
      border-right: 2px solid $check-icon-disable-color;
      border-bottom: 2px solid $check-icon-disable-color;
      opacity: .3;
    }
  }
}