/*-----------------------
SELECT
------------------------*/
.custom-select{
  width: 100%;
  position: relative;
  &.input-label{
    &:before{
      height: calc(100% - #{$form-items-height}rem);
    }
  }
  &.input-inline-icon{
    &:before{
      margin-left: (($form-items-height/3)*2)+rem;
      width: calc(100% - #{($form-items-height/3)*2}rem);
    }
  }
  &:before {
    content: '';

    /*for border all*/
    //border-width: $input-border-width;
    //padding: 0 ($form-items-height/3)+rem;

    /*for border bottom*/
    border-width: 0 0 $input-border-width 0;
    padding: 0;

    border-style: solid;
    border-color: $input-border;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
  }
  &:after{
    content: '';
    width: 10px;
    height: 10px;
    @include rotate(-45deg);
    border-bottom: 2px solid $select-border;
    border-left: 2px solid $select-border;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: ($form-items-height/2.4)+rem;
    pointer-events: none;
  }
  select{
    color: $form-components-text-color;
    background-color: transparent;
    width: 100%;
    border: 0;
    border-radius: 0;
    height: $form-items-height+rem;
    position: relative;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include no-shadow();
    &:disabled{
      background-color: $select-disable-background;
      border-color: $select-disable-border;
      color: $select-disable-text;
    }
    +label{
      color: $select-disable-label;
    }
    &.input-small{
      font-size: $font-small;
      line-height: $form-items-small-height+rem;
      height: $form-items-small-height+rem;
      &+label{
        font-size: $font-small;
      }
    }

    // Valid Input
    &.valid,
    &:focus.valid {
      border-bottom: $input-border-width solid $input-focus-valid-border;
    }

    // Invalid Input
    &.invalid,
    &:focus.invalid {
      border-bottom: $input-border-width solid $input-focus-invalid-border;
    }


  }

}