@mixin useColors($colorList, $type) {
  $prop: background-color;
  @if $type == 'text'{
    $prop: color;
  }
  @if $type == 'border'{
    $prop: border-color;
  }
  @if $type == 'fill'{
    $prop: fill;
  }
  @if $type == 'link'{
    $prop: color;
  }
  @each $color_name, $gen_variants in $colorList {
    @if map-has-key($colors, $color_name) {
      $curr_color: map-get($colors, $color_name);
      @each $color_type, $color_value in $curr_color {
        @if $color_type == "base" {
          .#{$type}-#{$color_name} {
            #{$prop}: $color_value;
            @if $type == 'link'{
              &:after{
                background: $color_value!important;
              }
            }
          }
        }
        @else if($gen_variants == true){
          .#{$type}-#{$color_name}.#{$type}-#{$color_type} {
            #{$prop}: $color_value;
          }
        }
      }
    }
  }
}