@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
      .#{$color_name}-border {
        border-color: $color_value !important;
      }
      .btn-fill{
        &.#{$color_name}-btn {
          background: $color_value !important;
        }
      }
      .btn-border{
        &.#{$color_name}-btn {
          border-color: $color_value !important;
          color: $color_value !important;
        }
      }

      .link{
        &.#{$color_name}-link {
          color: $color_value !important;
          &:after{
            background: $color_value !important;
            opacity: .50;
          }
        }
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
      .#{$color_name}-border.border-#{$color_type} {
        border-color: $color_value !important;
      }

      .btn-fill{
        &.#{$color_name}-btn.btn-#{$color_type} {
          background: $color_value !important;
          @if(str-index($color_type, 'lighten-')) {
            $list : unquote(str-slice($color_type, 9, 9));
            @if $list=="1"{} @elseif $list=="2"{} @elseif $list=="3"{
              @if $color_name=='latam-info'{
                color: $color-secondary;
              }
            }
            @elseif $list=="4"{
              @if $color_name=='info'{
                color: $color-secondary;
              }
            }
            @else{
              color: $color-secondary;
            }
          }
        }
      }
      .btn-border{
        &.#{$color_name}-btn.btn-#{$color_type} {
          border-color: $color_value !important;
        }
      }

    }
  }
}
.white-color{
  background: $white-color;
}
.text-white{
  color: $white-color;
}