//columnas extra small

$i: 1;
@while $i <= $num-cols {
  //flexible-column
  $flexPerc: unquote((100 / $i ) + "%");
  .col-flex-xs#{$i} {
    width: $flexPerc;
  }
  $i: $i + 1;
}


//columnas extra small half
@media #{$extra-small-half-up} {
  $i: 1;
  @while $i <= $num-cols {
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-xsh#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas small
@media #{$small-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-s#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas small-half
@media #{$small-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-sh#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas medium
@media #{$medium-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-m#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas medium-half
@media #{$medium-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-mh#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas large
@media #{$large-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-l#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas large-half
@media #{$large-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-lh#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas extra-large
@media #{$extra-large-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-xl#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas extra-large-half
@media #{$extra-large-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-xlh#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}

//columnas big
@media #{$big-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    //flexible-column
    $flexPerc: unquote((100 / $i ) + "%");
    .col-flex-b#{$i} {
      width: $flexPerc;
    }
    $i: $i + 1
  }
}