//block grid
.container{
  width: 100%;
  margin: 0 auto;
  .row {
    //margin-left: (-1 * $gutter-width / 2);
    //margin-right: (-1 * $gutter-width / 2);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    div[class*="col-"] {
      float: left;
      padding: 0 $gutter-width / 2;
    }

    //columnas extra small
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      .col-xs#{$i} {
        width: $perc;
      }

      //flexible-column
      $flexPerc: unquote((100 / $i ) + "%");
      .col-flex-xs#{$i} {
        width: $flexPerc;
      }


      $i: $i + 1;
    }


    //columnas extra small half
    @media #{$extra-small-half-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-xsh#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-xsh#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas small
    @media #{$small-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-s#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-s#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas small-half
    @media #{$small-half-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-sh#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-sh#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas medium
    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-m#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-m#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas medium-half
    @media #{$medium-half-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-mh#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-mh#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas large
    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-l#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-l#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas large-half
    @media #{$large-half-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-lh#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-lh#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas extra-large
    @media #{$extra-large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-xl#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-xl#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas extra-large-half
    @media #{$extra-large-half-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-xlh#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-xlh#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }
    }

    //columnas big
    @media #{$big-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        .col-b#{$i} {
          width: $perc;
        }

        //flexible-column
        $flexPerc: unquote((100 / $i ) + "%");
        .col-flex-b#{$i} {
          width: $flexPerc;
        }

        $i: $i + 1
      }



    }

    &.hide-flex-bar{

      //columnas medium-half
      @media #{$medium-half-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-mh#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

      //columnas large
      @media #{$large-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-l#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

      //columnas large-half
      @media #{$large-half-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-lh#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

      //columnas extra-large
      @media #{$extra-large-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-xl#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

      //columnas extra-large-half
      @media #{$extra-large-half-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-xlh#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

      //columnas big
      @media #{$big-and-up} {
        $i: 1;
        @while $i <= $num-cols {
          //flexible-column
          $flexPerc: unquote((100 / ($i+1) ) + "%");
          .col-flex-b#{$i} {
            width: $flexPerc;
          }
          $i: $i + 1
        }
      }

    }

  }
}
//flex grid
.container-flex{
  @extend .container;
  .row{
    width: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    div[class*="col-"] {
      display: flex;
      &.center-align{
        @include justify-content(center)
      }
    }
  }
}

/// flex order
$i: 0;
@while $i <= 12 {
  .order-#{$i}{
    @include order(#{$i})
  }
  $i: $i + 1
}

