//block grid
.container{
  width: 100%;
  margin: 0 auto;
  .row {
    //margin-left: (-1 * $gutter-width / 2);
    //margin-right: (-1 * $gutter-width / 2);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    div[class*="col-"] {
      float: left;
      padding: 0 $gutter-width / 2;
    }
  }
}


//columnas extra small
$i: 1;
@while $i <= $num-cols {
  $perc: unquote((100 / ($num-cols / $i)) + "%");
  .col-xs#{$i} {
    width: $perc;
  }
  $i: $i + 1;
}

//columnas extra small half
@media #{$extra-small-half-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-xsh#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas small
@media #{$small-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-s#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas small-half
@media #{$small-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-sh#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas medium
@media #{$medium-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-m#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas medium-half
@media #{$medium-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-mh#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas large
@media #{$large-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-l#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas large-half
@media #{$large-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-lh#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas extra-large
@media #{$extra-large-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-xl#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas extra-large-half
@media #{$extra-large-half-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-xlh#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }
}

//columnas big
@media #{$big-and-up} {
  $i: 1;
  @while $i <= $num-cols {
    $perc: unquote((100 / ($num-cols / $i)) + "%");
    .col-b#{$i} {
      width: $perc;
    }
    $i: $i + 1
  }



}