.hide-flex-bar{

  //columnas medium-half
  @media #{$medium-half-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-mh#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

  //columnas large
  @media #{$large-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-l#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

  //columnas large-half
  @media #{$large-half-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-lh#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

  //columnas extra-large
  @media #{$extra-large-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-xl#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

  //columnas extra-large-half
  @media #{$extra-large-half-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-xlh#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

  //columnas big
  @media #{$big-and-up} {
    $i: 1;
    @while $i <= $num-cols {
      //flexible-column
      $flexPerc: unquote((100 / ($i+1) ) + "%");
      .col-flex-b#{$i} {
        width: $flexPerc;
      }
      $i: $i + 1
    }
  }

}