.p-all{
  padding:1rem !important;
}

.p-lg-all{
  padding:2rem !important;
}

.p-l-lg{
  padding-left: 2rem!important;
}
.p-r-lg{
  padding-right: 2rem!important;
}
.p-b-lg{
  padding-bottom: 2rem!important;
}
.p-t-lg{
  padding-top: 2rem!important;
}

.p-l{
  padding-left: 1rem!important;
}
.p-r{
  padding-right: 1rem!important;
}
.p-b{
  padding-bottom: 1rem!important;
}
.p-t{
  padding-top: 1rem!important;
}

.p-l-s{
  padding-left: .5rem!important;
}
.p-r-s{
  padding-right: .5rem!important;
}
.p-b-s{
  padding-bottom: .5rem!important;
}
.p-t-s{
  padding-top: .5rem!important;
}

.p-none{
  padding-left: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.p-t-none{
  padding-top: 0!important;
}
.p-l-none{
  padding-left: 0!important;
}
.p-r-none{
  padding-right: 0!important;
}
.p-b-none{
  padding-bottom: 0!important;
}

.m-none{
  margin-left: 0!important;
  margin-right: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.m-auto{
  margin: auto;
}
.m-l-s{
  margin-left: .5rem!important;
}
.m-r-s{
  margin-right: .5rem!important;
}
.m-b-s{
  margin-bottom: .5rem!important;
}
.m-t-s{
  margin-top: .5rem!important;
}

.m-l-lg{
  margin-left: 2rem!important;
}
.m-r-lg{
  margin-right: 2rem!important;
}
.m-b-lg{
  margin-bottom: 2rem!important;
}
.m-t-lg{
  margin-top: 2rem!important;
}

.m-l{
  margin-left: 1rem!important;
}
.m-r{
  margin-right: 1rem!important;
}
.m-b{
  margin-bottom: 1rem!important;
}
.m-t{
  margin-top: 1rem!important;
}

.m-b-none{
  margin-bottom: 0!important;
}
.m-t-none{
  margin-top: 0!important;
}
.m-left-none{
  margin-left: 0!important;
}
.m-l-none{
  margin-left: 0!important;
}
.m-r-none{
  margin-right: 0!important;
}


// extra small screen margins
.no-margin-xs-down{
  @media #{$extra-small-half-down} {
    margin: 0!important;
  }
}
.no-padding-xs-down{
  @media #{$extra-small-half-down} {
    padding: 0 !important;
  }
}
.m-t-xs-down{
  @media #{$extra-small-half-down} {
    margin-top: 1rem !important;
  }
}
.m-b-xs-down{
  @media #{$extra-small-half-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-xs-down{
  @media #{$extra-small-half-down} {
    margin-left: 1rem !important;
  }
}
.m-r-xs-down{
  @media #{$extra-small-half-down} {
    margin-right: 1rem !important;
  }
}

// extra small half screen margins
.no-margin-xsh-down{
  @media #{$small-down} {
    margin: 0!important;
  }
}
.no-padding-xsh-down{
  @media #{$small-down} {
    padding: 0 !important;
  }
}
.m-t-xsh-down{
  @media #{$small-down} {
    margin-top: 1rem !important;
  }
}
.m-b-xsh-down{
  @media #{$small-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-xsh-down{
  @media #{$small-down} {
    margin-left: 1rem !important;
  }
}
.m-r-xsh-down{
  @media #{$small-down} {
    margin-right: 1rem !important;
  }
}

// small screen margins
.no-margin-s-down{
  @media #{$small-half-down} {
    margin: 0!important;
  }
}
.no-padding-s-down{
  @media #{$small-half-down} {
    padding: 0 !important;
  }
}
.m-t-s-down{
  @media #{$small-half-down} {
    margin-top: 1rem !important;
  }
}
.m-b-s-down{
  @media #{$small-half-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-s-down{
  @media #{$small-half-down} {
    margin-left: 1rem !important;
  }
}
.m-r-s-down{
  @media #{$small-half-down} {
    margin-right: 1rem !important;
  }
}

// small half screen margins
.no-margin-sh-down{
  @media #{$medium-down} {
    margin: 0!important;
  }
}
.no-padding-sh-down{
  @media #{$medium-down} {
    padding: 0 !important;
  }
}
.m-t-sh-down{
  @media #{$medium-down} {
    margin-top: 1rem !important;
  }
}
.m-b-sh-down{
  @media #{$medium-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-sh-down{
  @media #{$medium-down} {
    margin-left: 1rem !important;
  }
}
.m-r-sh-down{
  @media #{$medium-down} {
    margin-right: 1rem !important;
  }
}


// medium screen margins
.no-margin-m-down{
  @media #{$medium-half-down} {
    margin: 0!important;
  }
}
.no-padding-m-down{
  @media #{$medium-half-down} {
    padding: 0 !important;
  }
}
.m-t-m-down{
  @media #{$medium-half-down} {
    margin-top: 1rem !important;
  }
}
.m-b-m-down{
  @media #{$medium-half-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-m-down{
  @media #{$medium-half-down} {
    margin-left: 1rem !important;
  }
}
.m-r-m-down{
  @media #{$medium-half-down} {
    margin-right: 1rem !important;
  }
}

// medium half screen margins
.no-margin-mh-down{
  @media #{$large-down} {
    margin: 0!important;
  }
}
.no-padding-mh-down{
  @media #{$large-down} {
    padding: 0 !important;
  }
}
.m-t-mh-down{
  @media #{$large-down} {
    margin-top: 1rem !important;
  }
}
.m-b-mh-down{
  @media #{$large-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-mh-down{
  @media #{$large-down} {
    margin-left: 1rem !important;
  }
}
.m-r-mh-down{
  @media #{$large-down} {
    margin-right: 1rem !important;
  }
}

// large screen margins
.no-margin-l-down{
  @media #{$large-half-down} {
    margin: 0!important;
  }
}
.no-padding-l-down{
  @media #{$large-half-down} {
    padding: 0 !important;
  }
}
.m-t-l-down{
  @media #{$large-half-down} {
    margin-top: 1rem !important;
  }
}
.m-b-l-down{
  @media #{$large-half-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-l-down{
  @media #{$large-half-down} {
    margin-left: 1rem !important;
  }
}
.m-r-l-down{
  @media #{$large-half-down} {
    margin-right: 1rem !important;
  }
}

// large half screen margins
.no-margin-lh-down{
  @media #{$extra-large-down} {
    margin: 0!important;
  }
}
.no-padding-lh-down{
  @media #{$extra-large-down} {
    padding: 0 !important;
  }
}
.m-t-lh-down{
  @media #{$extra-large-down} {
    margin-top: 1rem !important;
  }
}
.m-b-lh-down{
  @media #{$extra-large-down} {
    margin-bottom: 1rem !important;
  }
}
.m-l-lh-down{
  @media #{$extra-large-down} {
    margin-left: 1rem !important;
  }
}
.m-r-lh-down{
  @media #{$extra-large-down} {
    margin-right: 1rem !important;
  }
}