@mixin box-shadow-2($args1, $args2) {
  -webkit-box-shadow: $args1, $args2;
  -moz-box-shadow: $args1, $args2;
  box-shadow: $args1, $args2;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 100%;
}

@mixin min-circle($size) {
  min-width: $size;
  min-height: $size;
  border-radius: 100%;
}

@mixin resize-image($width,$height){
  width: $width !important;
  height: $height !important;
  object-fit:contain;
  -moz-object-fit:contain;
  -ms-object-fit:contain;
  -o-object-fit:contain;
  -webkit-object-fit:contain;
}

@mixin background-expand(){
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin dont-break-out(){
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -moz-word-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-word;
  -moz-word-break: break-word;
  -webkit-word-break: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

@mixin shadow-website(){
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

@mixin no-shadow(){
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin opacity($opacity){
  opacity: $opacity;
  -moz-opacity: $opacity;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity);
}

@mixin clearfix(){
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@mixin tags(){
  padding-bottom:0.5rem;
  .word{
    background-color: $latam-color-info;
    padding:0.5rem 0.9rem;
    border-radius: 1rem;
    float: left;
    color:$white-color;
    margin-right: 0.9rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    @media #{$small-and-down}{
      font-size: 1rem;
    }
    cursor:pointer;
    &:hover{
      background-color: color('latam-info', 'darken-1');
    }

  }
  .clear{
    clear:both
  }
  .readMore{
    width: 100%;
    text-align: center;
    display: block;
    width: 100%;
    i{
      cursor: pointer;
      color:$latam-color-secondary;
    }
    i:hover{
      color:color('latam-secondary', 'lighten-2');
    }
  }
}


@mixin rotate-360-animate($time){
  -webkit-animation:spin $time linear infinite;
  -moz-animation:spin $time linear infinite;
  animation:spin  $time linear infinite;
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@mixin rotate($degrees){
  -ms-transform: rotate($degrees); /* IE 9 */
  -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
  transform: rotate($degrees);
}

@mixin fade-in($time){
  -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $time; /* Firefox < 16 */
  -ms-animation: fadein $time; /* Internet Explorer */
  -o-animation: fadein $time; /* Opera < 12.1 */
  animation: fadein $time;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

@mixin ellipsisTwoLines(){
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

@mixin dropShadowMotorCreditTooltipArrow(){
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 0 0);
}