/// paginación
.pagination {
  li {
    display: inline-block;
    font-size: 1rem;
    border: 1px solid $pagination-border-color;
    border-radius: 2px;
    text-align: center;
    background-color: $pagination-item-background;
    a {
      color: $pagination-text-color;
      display:block;
      padding: 0 10px;
      line-height: 2rem;

    }
    &.active a {
      color: $pagination-text-active-color; }
    &.active {
      background-color: $pagination-active-background;
      border-color: transparent }
    &.disabled{
      background-color: $pagination-disable-background;
      a{
        cursor: default;
        color: $pagination-text-disable-color;
      }
    }
    i {
      vertical-align:middle;
      line-height: 1rem;
      position: relative;
      top: -.12rem;
    }
  }
  li.pages ul li {
    display: inline-block;
    float: none;
  }
}
@media #{$medium-half-down} {
  .pagination {
    width: 100%;
    li.prev,
    li.next {
      width: 10%;
    }
    li.pages {
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}