body{
  &.is-sidebar{
    &.sidebar-active{
      .sidebar{
        position: fixed;
        left: 0;
        top:0;
        height: 100%;
        width: 270px;
        overflow: hidden;
      }
    }
  }
}