body{
  &.fixed-top-nav{
    padding-top: $nav-height;
    .top-nav{
      top: 0;
      left: 0;
      position: fixed;
      z-index: 999;
    }
  }
}
.top-nav{
  display: block;
  height: $nav-height;
  line-height: $nav-height;
  width: 100%;
  background: $nav-background;
  ul{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
  }
  a{
    display: block;
    font-size: 90%;
    color: $nav-text;
    padding: 0 1rem;
    line-height: $nav-height;
    @include transition(all .3s);
    &:hover, &.active{
      color: $nav-text-hover;
    }
  }
  .left-nav{
    float: left;
  }
  .right-nav{
    float: right;
    a{
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .brand{
    font-size: $nav-height;
    height: .8em;
    padding-top: .1em;
    width: auto;
    float: left;
  }
}