@import "mixins";

/*** Colors
  * Colocar Aquí colores
***/
$white-color: #ffffff;
$black-color: #000000;

$color-primary: color("primary", "base") !default;
$color-secondary: color("secondary", "base") !default;
$color-warning: color("warning", "base") !default;
$color-danger: color("danger", "base") !default;
$color-info: color("info", "base") !default;
$color-success: color("success", "base") !default;

$color-classifieds: color("classifieds", "base") !default;
$color-financed: color("financed", "base") !default;
$color-insurance: color("insurance", "base") !default;
$color-warranty: color("warranty", "base") !default;
$color-carsync: color("carsync", "base") !default;

$open-sans-font-path: "../fonts/open-sans/" !default;
$raleway-font-path: "../fonts/raleway/" !default;
$picto-icons-font-path: "../fonts/picto-icons/" !default;
$primary-font: "Open-sans", Sans-Serif;
$secondary-font: "Raleway", Sans-Serif;

/*** Breakpoints
  * Colocar Aquí los breakpoints
***/

$extra-small-screen-down: 374px !default;
$extra-small-screen: 375px !default;

$small-screen-down: 599px !default;
$small-screen: 600px !default;

$small-half-screen-down: 769px !default;
$small-half-screen: 770px !default;

$medium-screen-down: 989px !default;
$medium-screen: 990px !default;

$medium-half-screen-down: 1139px !default;
$medium-half-screen: 1140px !default;

$large-screen-down: 1299px !default;
$large-screen: 1300px !default;

$large-half-screen-down: 1649px !default;
$large-half-screen: 1650px !default;

$extra-large-screen-down: 1999px !default;
$extra-large-screen: 2000px !default;

$extra-large-half-screen-down: 2349px !default;
$extra-large-half-screen: 2350px !default;

$big-screen-down: 2699px !default;
$big-screen: 2700px !default;


/*** Media Query Ranges
  * Colocar Aquí Media Query Ranges
***/

$extra-small-half-down: "only screen and (max-width : #{$extra-small-screen-down})" !default;
$extra-small-half-up: "only screen and (min-width : #{$extra-small-screen})" !default;

$small-down: "only screen and (max-width : #{$small-screen-down})" !default;
$small-and-up: "only screen and (min-width : #{$small-screen})" !default;

$small-half-down: "only screen and (max-width : #{$small-half-screen-down})" !default;
$small-half-and-up: "only screen and (min-width : #{$small-half-screen})" !default;

$medium-down: "only screen and (max-width : #{$medium-screen-down})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen})" !default;

$medium-half-down: "only screen and (max-width : #{$medium-half-screen-down})" !default;
$medium-half-and-up: "only screen and (min-width : #{$medium-half-screen})" !default;

$large-down: "only screen and (max-width : #{$large-screen-down})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen})" !default;

$large-half-down: "only screen and (max-width : #{$large-half-screen-down})" !default;
$large-half-and-up: "only screen and (min-width : #{$large-half-screen})" !default;

$extra-large-down: "only screen and (max-width : #{$extra-large-screen-down})" !default;
$extra-large-and-up: "only screen and (min-width : #{$extra-large-screen})" !default;

$extra-large-half-down: "only screen and (max-width : #{$extra-large-half-screen-down})" !default;
$extra-large-half-and-up: "only screen and (min-width : #{$extra-large-half-screen})" !default;

$big-down: "only screen and (max-width : #{$big-screen-down})" !default;
$big-and-up: "only screen and (min-width : #{$big-screen})" !default;


// Grid Variables

$base-rem-size: 16px;
$base-rem-medium-size: 14px;
$base-rem-small-size: 12px;

$num-cols: 12 !default;
$gutter-width: 2rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

/*** Typography ***/
// Header Styles
$h1-fontsize: 3rem !default;
$h2-fontsize: 2.5rem !default;
$h3-fontsize: 2rem !default;
$h4-fontsize: 1.75rem !default;
$h5-fontsize: 1.50rem !default;
$h6-fontsize: 1.25rem !default;


$font-small: 86% !default;
$font-small-large: 75% !default;

//Header Styles mobile

$h1-md-fontsize: 2.10rem !default;
$h2-md-fontsize: 1.85rem !default;
$h3-md-fontsize: 1.60rem !default;
$h4-md-fontsize: 1.45rem !default;
$h5-md-fontsize: 1.30rem !default;
$h6-md-fontsize: 1.15rem !default;

/*** SidebarPTXMessenger ***/
$sidebar-content-width: 250px;
$sidebar-menu-width: 50px;



/*shadows*/
$z-depth-0: none !important;
$z-depth-05: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.02);
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
$z-depth-2-top: 0 -4px 17px 0 rgba(0, 0, 0, 0.1), 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$z-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);


///button
$btn-letter-spacing: .05em;

/*****************var for components***************/

/*breadcrumbs*/

$breadcrumbs-link-color: color('secondary', 'lighten-2');
$breadcrumbs-separator-color: color('secondary', 'lighten-3');

/*crips*/

$chips-link-color: color('secondary', 'lighten-3');
$chips-hover-color: color('primary', 'lighten-2');
$chips-border-color: color('secondary', 'lighten-6');
$chips-background-color: color('secondary', 'lighten-6');
$chips-background-active-color: color('secondary', 'lighten-4');

/*divider default color*/
$divider-color: color('secondary', 'lighten-2');


/*avatar*/
$avatar-border-color: color('secondary', 'lighten-4');


/*pagination*/
$pagination-item-background: transparent;
$pagination-text-color: color('secondary', 'lighten-2');
$pagination-border-color: color('secondary', 'lighten-5');
$pagination-text-active-color: $white-color;
$pagination-active-background: color('primary', 'lighten-2');
$pagination-text-disable-color: color('secondary', 'lighten-4');
$pagination-disable-background: color('secondary', 'lighten-6');

/*i-css icons width css*/
$i-css-defaul-color: color('secondary', 'lighten-2');
$i-css-defaul-width: 1px;
$i-css-color-list: (
        (
                "primary": $color-primary,
                "secondary": $color-secondary,
                "warning": $color-warning,
                "danger": $color-danger,
                "info": $color-info,
                "success": $color-success,
                "white": $white-color,
        )
);
/*navbar*/
$nav-height: 5rem;
$nav-background: $color-secondary;
$nav-text: $white-color;
$nav-text-hover: color('primary', 'lighten-2');

/*checkBox*/
$check-box-border: color('primary', 'lighten-2');
$check-box-active-background: color('secondary', 'lighten-6');
$check-box-disable-background: color('secondary', 'lighten-6');
$check-icon-color: color('primary', 'lighten-2');
$check-icon-disable-color: color('primary', 'lighten-2');


/*radio*/
$radio-label: color('secondary', 'lighten-3');
$radio-active-background: color('primary', 'lighten-2');
$radio-no-check-border-color: color('secondary', 'lighten-5');
$radio-disable-border: color('secondary', 'lighten-6');
$radio-disable-label-color: color('secondary', 'lighten-5');
$disable-checked-background:color('secondary', 'lighten-6');

/*select, input-height*/
$form-items-height: 3;
$form-items-small-height: 1.8;
$form-text-size: 1rem;
$form-text-label-size: .6rem;
$form-label-letter-spacing: 1px;
$form-text-label-color: $color-secondary;
$form-text-label-transform: uppercase;

/*color de elementos input y select*/
$form-components-text-color: color('secondary', 'lighten-1');

/*select*/
$select-border: color('secondary', 'lighten-4');
$select-disable-background: color('secondary', 'lighten-8');
$select-disable-border: color('secondary', 'lighten-6');
$select-disable-text: color('secondary', 'lighten-5');
$select-disable-label: color('secondary', 'lighten-3');

/*input, se aplica a inputs, textarea*/
$input-place-holder-text: lighten($color-secondary, 60%);
$input-border: color('secondary', 'lighten-4');
$input-border-width: 2px;
$input-disable-border: color('secondary', 'lighten-5');
$input-disable-text: color('secondary', 'lighten-5');
$input-focus-border: color('secondary', 'lighten-2');
$input-focus-shadow: color('secondary', 'lighten-2');
$input-focus-label: color('secondary', 'lighten-2');
$input-focus-valid-border: color('secondary', 'lighten-2');
$input-focus-invalid-border: color('danger', 'base');
$input-focus-invalid-label: color('secondary', 'lighten-3');

$input-shadow-style-background: $white-color;
$input-shadow-style-border: color('secondary', 'lighten-7');
$input-shadow-style-focus-border: color('secondary', 'lighten-6')