@import "./resources/colors";
/*
  importa la función para generar los colores de borde, textos, bg, fill, sin embargo si no se invoca la función no se genera absolutamente nada
 */
@import "./resources/genColors";
@import "./resources/variables";
@import "./resources/prefixer";
/*
  normalize para contenido en general no incluye normalización en forms
 */
@import "./resources/normalizeGeneral";
/*
  normalización para forms
 */
@import "./resources/normalizeForms";
/*
  estilos generales de fuentes, size, weights, alig, line-height, style, transform
 */
@import "./resources/fonts";

/*
  importación de fuentes
 */
@import "./resources/fontOpenSans";
@import "./resources/fontRaleway";
/*
  cada categoría de íconos importa su fuente y sus estilos de tal manera que se empleen solamente los que se vayan a emplear
 */
@import "./resources/fontPictoIconsArrows";
@import "./resources/fontPictoIconsClothing";
@import "./resources/fontPictoIconsEmotions";
@import "./resources/fontPictoIconsFood";
@import "./resources/fontPictoIconsGeneral";
@import "./resources/fontPictoIconsHouseHold";
@import "./resources/fontPictoIconsMedicalScience";
@import "./resources/fontPictoIconsMultimedia";
@import "./resources/fontPictoIconsNature";
@import "./resources/fontPictoIconsNavigation";
@import "./resources/fontPictoIconsShopingFinance";
@import "./resources/fontPictoIconsSports";
@import "./resources/fontPictoIconsWeather";
/*
  la función useColors nos permite incluir solamente las classes que asignan colores a: 'bg', 'text', 'fill', 'border'; por lo general son los colores que estan asignados en el archivo _colors.scss ejm: 'primary', 'secondary', 'success'
    ** primeramente declaramos el listado de colores que se va a usar, ejm:  ('primary': true,'secondary': true); seguido se declara que tipo de clases se quiere generar, ejm: para background 'bg', para border-color 'border'
    ** esto generará el listado de clases que contienen los colores asignados, por ejemplo si declaramos (('primary': false), 'bg') esto generará la solamente la classe .bg-primary{background-color: "el color que se haya asignado como primario en las variables"}
    ** el boolean que pasamos junto a cada color es si deseamos que se generen las clases de ayuda para cada color base, por ejemplo .bg-primary.lighten1
*/
@include useColors((
  "primary": true,
  "secondary": true,
  "warning": true,
  "danger": true,
  "info": true,
  "success": true
), 'bg')
@include useColors((
        "primary": true,
        "secondary": true,
        "warning": true,
        "danger": true,
        "info": true,
        "success": true
), 'border')
@include useColors((
        "primary": true,
        "secondary": true,
        "warning": true,
        "danger": true,
        "info": true,
        "success": true
), 'text')
@include useColors((
        "primary": true,
        "secondary": true,
        "warning": true,
        "danger": true,
        "info": true,
        "success": true
), 'fill')

@include useColors((
        "primary": true,
        "secondary": true,
        "warning": true,
        "danger": true,
        "info": true,
        "success": true
), 'link')

/*
  importa el container, row y container-flex
 */
@import "./resources/grid";
/*
  importa el grid elástico
 */
@import "./resources/gridFlex";
/*
  importa el grid clásico
 */
@import "./resources/gridClassic";
/*
  cuando se aumenta estás clases permite aumentar un elemnto al grid, haciendo que un grid de 4 se convierta en uno de 5, es util, cuando tenemos un sidebar por ejemplo que se oculta, y con esta clase aumentada al row solventamos ese espacio con un elemento más
 */
@import "./resources/gridFlexActiveCollapsibleBar";
@import "./resources/flexOrder";
/*
  elementos de display, float, flex, hide, show en diferentes resoluciones
 */
@import "./resources/display";
/*
  margenes y paddings standar en diferentes resoluciones
 */
@import "./resources/marginPadding";

/*
  varios componentes pequeños
 */

@import "./resources/chips";
@import "./resources/avatars";
@import "./resources/pagination";
@import "./resources/breadcrumbs";

/*
  íconos css
 */
@import "./resources/cssCommonIcons";


@import "./resources/border";
@import "./resources/buttons";
@import "./resources/formSelects";
@import "./resources/formCheckbox";
@import "./resources/formRadio";
@import "./resources/formsInputs";
@import "./resources/topNav";